# Python
*.pyc
*.pyo

# Cython
*.c
*.so
*.pyd

# Mac OS X
.DS_Store

# build, dist and egg-info directories
build/
dist/
*.egg-info/

# Backup files
*~

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore .h5 file (too big)
*/*.h5

# ignore .vti file (too big)
*/*.vti